#calculator{
  border: 1px solid rgba(116, 106, 106, 0.58);
  border-radius: 3px;
  width: 200px;
}

#display{
  margin: 10px;
  width: 85%;
  font-size: 25px;
}

.button{
  width: 45px;
  height: 45px;
  margin: 3px;
}

.button-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}